body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#progress {
  position: absolute;
  right: 200px;
  top: 100px;
  height: 200px;
  width: 200px;
}

#versions {
  position: absolute;
  right: 200px;
  top: 400px;
  height: 200px;
  width: 200px;
}

#description {
  width: 880px;
  background-color: #C8C8C8;
  padding: 5px;
  margin: 20px;
}

#sampleLocation{
  margin: 20px;

}

#editor {
  height: 500px; 
  width: 900px;
}

#wrapper {
  height: 510px; 
  width: 910px;
  margin: 20px;
}

#result {
  height: 100px; 
  width: 880px;
  background-color: grey;
}

#version{
  float: left;
  margin-left: 20px;
}

#sample{
  float: left;
  margin-left: 20px;
}

#language{
  float: left;
  margin-left: 20px;
}

#options {
  overflow: auto;
  width: 100%;
  margin: 10px;
}

.sample{
  visibility: hidden;
}  

#result{
  color:white;
  padding: 10px;
  overflow:auto;
  visibility: hidden;
  margin: 20px;
}

.ok {
  color: green;
}

.fail {
  color: red;
}
