#editor {
  height: 500px; 
  width: 900px;
}

#wrapper {
  height: 510px; 
  width: 910px;
}

#result {
  height: 100px; 
  width: 900px;
  background-color: grey;
}

#version{
  float: left;
  margin-left: 20px;
}

#sample{
  float: left;
  margin-left: 20px;
}

#language{
  float: left;
  margin-left: 20px;
}

#options {
  overflow: auto;
  width: 100%
}

.sample{
  visibility: hidden;
}  

#result{
  color:white;
  padding: 10px;
  overflow:auto;
}